.btn {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backround-color;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}
